<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SSS" value="C:\Users\Administrator\Downloads\Nuget" allowInsecureConnections="True" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="SSS">
      <package pattern="SSS" />
      <package pattern="Microsoft.Windows.Devices.Midi2.1.0.17-rc.4.25" />
    </packageSource>
  </packageSourceMapping>
</configuration>
